#base_svg{
    background-color:pink
}

.text{
    color: rgb(147, 57, 122);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}